<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="diego.guinea.preciojusto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:name=".di.KoinApp"
        android:allowBackup="true"
        android:icon="@mipmap/diana"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/diana"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.firstPage.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.firstPage.HomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.gamePage.GamePage"
            android:label="@string/app_name"
            android:configChanges="screenLayout|orientation|screenSize"
            android:noHistory="true" />
        <activity
            android:name=".ui.gamePage.WinPage"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.gameLevels.ChoseGame"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.shop.Shop"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.presenter.WebView"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.shop.ShopCoin"
            android:label="@string/app_name" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>